
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/ljsheng/global.css" rel="stylesheet" />
    <title>title</title>
</head>
<body>
    <div class="title">
        <p><label>后台管理中心</label></p>
    </div>
</body>
</html>
