* {margin:0;padding:0;}
body {color:#444;font-size:12px;font-family:arial,simsun;}
ul,dl {list-style:none;}
img {border:0}
a {color:#3b4c65;text-decoration:none;}
a:hover {text-decoration:underline;}
.head {height:50px;background:url(/images/ljsheng/head.png) left center no-repeat;padding-left:220px;}
.hcon {color:#d1ecff;line-height:50px;margin-right:10px;height:50px;}
.hcon p {float:left;}
.hcon tt {float:right;}
.hcon a {color:#c0ccdf;margin:0 10px;}
.hcon font {_position:relative;top:2px;}
.menu {margin:0 auto;width:180px;float:left;margin-left:1px;display:inline;margin-top:-1px;}
.menu h2 {height:29px;line-height:29px;text-indent:20px;border-bottom:1px solid #3d4e68;border-top:1px solid #617591;display:block;font-size:12px;cursor:pointer;color:#fffbbd;1text-align:right;padding-right:20px;background:#4f627c;font-weight:normal;}
.menu h2:hover,.menu .hover {background:#40516a;}
.menu ul {background:#6c809c;display:none;border-bottom:1px solid #3d4e64;}
.menu ul li { 1border-bottom: 1px solid #7a8daa;1border-top: 1px solid #556984;}
.menu ul li a {display:block;color:#fff;1text-align:right;padding-left:40px;outline:none;height:28px;line-height:28px;border-top:1px solid #7d92af;border-bottom:1px solid #5e728e;}
.menu li a:hover {background:#8a9cb5;background:#576b88;text-decoration:none;}
.menu li .cur,.menu li .cur:hover {background:#f5f5f5;color:#3c4d66;background:url(/images/ljsheng/hin.png) no-repeat right center;color:#ffde00;font-weight:bold;}
.menu li .cur:hover {background:#576b88 url(/images/ljsheng/hin.png) no-repeat right center;}
.title {height:29px;border-bottom:1px solid #fff;font-weight:bold;}
.title p {height:29px;line-height:29px;border-bottom:1px solid #ccc;padding-left:28px;color:#3d4e67;background:#e5e5e5 url(/images/ljsheng/ico.png) no-repeat 8px 10px;line-height:35px\9;overflow:hidden;}
.login {width:335px;margin:0 auto;margin-top:252px;*margin-top:250px;position:relative;left:77px;}
.log {}
.log li {height:45px;}
.log input {border:0 none;font-size:12px;width:208px;color:#303f52;font-family:tahoma;margin-left:4px;vertical-align:middle;padding:4px 0;}
.log .yzm {position:relative;}
.log .yzm input {width:85px;}
.log .yzm img {width:78px;height:26px;position:absolute;left:105px;top:-1px;_top:1px;}
.log .logbtn input {width:82px;height:34px;background:url(/images/ljsheng/logbtn.png);cursor:pointer;margin:0;}

.aa { background: url("/images/ljsheng/aa.png") no-repeat scroll 0 center transparent;
    border-radius: 3px 3px 3px 3px;
    color: #90F8FF !important;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    width: 62px;}
p a {
    float: left;
    background-color: dimgray;
    padding: 3px 10px;
    border: 1px solid #a2ceff;
    line-height: 20px;
    margin: 0 5px;
    color: #00336c;
    cursor: pointer;
    text-align: center;
}

    p a:hover {
        background-color: brown;
        text-decoration: none;
    }
.msg {
    background-color: green;
    text-decoration: none;
}